<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina web</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                <div class="card-header">REGISTRO DE ALUMNO</div>
                    <div class="card-body">
                        <form id="fmralumno" v-on:submit.prevent="guardaralumno" @reset.prevent="nuevoalumno()">
                            <div class="row p-1">
                                <div class="col-md-2 col-md-2">
                                    <label for="txtcodigoalumno">CODIGO:</label>
                                </div>
                                    <div class="col-2 col-md-4">
                                        <input required pattern="[0-9]{3}"
                                            title="Ingrese el codigo del alumno de 3 digitos"
                                             v-model="alumno.codigo" type="text" class="form-control" name="txtcodigoalumno" id="txtcodigoalumno" placeholder="Ej: 123">
                                    </div>
                                </div>  
                                <div class="row p-1">
                                    <div class="col-md-2 col-md-2">
                                        <label for="txtnombrealumno">NOMBRE: </label>
                                    </div>
                                    <div class="col-md-9 col-md-6">
                                        <input required pattern="[A-Za-zÑñáéíóú ]{3,75}"
                                            title="Ingrese Nombre"
                                                v-model="alumno.nombre" type="text" class="form-control" name="txtnombrealumno" id="txtnombrealumno" placeholder="Ej:Gustavo Gomez">
                                    </div>
                                </div> 
                                <div class="row p-1">
                                    <div class="col-md-2 col-md-2">
                                        <label for="txtsexo">SEXO:</label>
                                    </div>
                                    <div class="col-9 col-md-6">
                                        <input type="radio" name="txtsexo" value="h" /> HOMBRE <input type="radio" name="txtsexo" value="m" /> MUJER 
                                    </div>
                                </div>
                                </div>
                                <div class="row p-1">
                                    <div class="col-md-2 col-md-6">
                                     <label for="txtdepartamento">DEPARTAMENTO: </label>
                                        <select id="txtdepartamento" name="txtdepartamento" v-model="alumno.departamento">
                                            <option value=''>Seleccione</option>
                                            <option>Ahuachapan</option>
                                            <option>Santa Ana</option>
                                            <option>Chalatenango</option>
                                            <option>La Libertad</option>
                                            <option>Sonsonate</option>
                                            <option>San Salvador</option>
                                            <option>Cuscatlan</option>
                                            <option>Cabañas</option>
                                            <option>La Union</option>
                                            <option>La Paz</option>
                                            <option>Morazan</option>
                                            <option>San Vicente</option>
                                            <option>Usulutan</option>
                                            <option>San Miguel</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row p-1">
                                    <div class="col-md-2 col-md-2">
                                        <label for="txtmunicipio">MUNICIPIO:</label>
                                    </div>
                                    <div class="col-9 col-md-6">
                                        <input v-model="alumno.municipio" type="text" class="form-control" name="txtmunicipio" id="txtmunicipio">
                                    </div>
                                </div> 
                                <div class="row p-1">
                                    <div class="col-md-2 col-md-2">
                                        <label for="txtdireccion">DIRECCION:</label>
                                    </div>
                                    <div class="col-9 col-md-6">
                                        <input v-model="alumno.direccion" type="text" class="form-control" name="txtdireccion" id="txtdireccion">
                                    </div>
                                </div>
                                <div class="row p-1">
                                    <div class="col-md-2 col-md-2">
                                        <label for="txttelefono">TELEFONO:</label>
                                    </div>
                                    <div class="col-9 col-md-6">
                                        <input v-model="alumno.telefono" type="text" class="form-control" name="txttelefono" id="txttelefono">
                                    </div>
                                </div> 
                                <div class="row p-1">
                                    <div class="col-3 col-md-2">
                                       <label for="txtfechaalumno">FECHA DE NACIMIENTO:</label> 
                                    </div>
                                    <div class="col-9 col-md-6">
                                         <input class="form-control" type="date"  v-model="alumno.fecha" name="txtfechaalumno"  id="txtfechaalumno">
                                    </div>
                                <div class="row p-1">
                                    <div class="col-3 col-md-3">
                                        <input class="btn btn-primary" type="submit" 
                                            value="Guardar Alumno">
                                    </div>
                                    <div class="col-3 col-md-3">
                                        <input class="btn btn-warning" type="reset" value="Nuevo">
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">LISTA DE ALUMNOS</div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>BUSCAR:</th>
                                    <th colspan="2"><input type="text" class="form-control" v-model="buscar"
                                        @keyup="listaralumnos()"
                                        placeholder="Buscar por nombre"></th>
                                </tr>
                                <tr>
                                    <th>CODIGO</th>
                                    <th colspan="2">NOMBRE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="alumno in alumnos" :key="alumno.idalumno" @click="modificaralumno(alumno)" >
                                    <td>{{ alumno.codigo }}</td>
                                    <td>{{ alumno.nombre }}</td>
                                    <td><button class="btn btn-danger" @click="eliminaralumno(alumno)">ELIMINAR</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> 
    <script>
        const { createApp } = Vue;
       createApp({
           data() {
               return {
                   accion:'nuevo',
                   buscar: '',
                   alumnos: [],
                   alumno:{
                       idalumno : '',
                       codigo : '',
                       nombre : '',
                       
                       sexo : '',
                       departamento : '',
                       municipio : '',
                       direccion : '',                    
                       telefono : '',
                   }
               }
           },
           methods:{
            nuevoalumno(){
                   this.accion = 'nuevo';
                   this.alumno.idlumno = '';
                   this.alumno.codigo = '';
                   this.alumno.nombre = '';
                   
                   this.alumno.sexo = '';
                   this.alumno.departamento = '';
                   this.alumno.municipio = '';
                   this.alumno.direccion = '';              
                   this.alumno.telefono = '';
                },
                 modificaralumno(alumno){
                   this.accion = 'modificar';
                   this.alumno = alumno;
               },
               guardaralumno(){
                   this.listaralumnos();
                   if(this.accion==='nuevo'){
                       this.alumno.idalumno = new Date().getTime().toString(16);
                       this.alumnos.push( JSON.parse( JSON.stringify(this.alumno) ) );
                   }else if(this.accion==='modificar'){
                       let index = this.alumnos.findIndex(alumno=>alumno.idalumno==this.alumno.idalumno);
                       this.alumnos[index] = JSON.parse( JSON.stringify(this.alumno) );
                   }else if(this.accion==='eliminar'){
                       let index = this.alumnos.findIndex(alumno=>alumno.idalumno==this.alumno.idalumno);
                       this.alumnos.splice(index,1);
                   }
                   localStorage.setItem("alumnos", JSON.stringify(this.alumnos) );
                   this.nuevoalumno();
               },
               eliminaralumno(alumno){
                   if( confirm(`Esta seguro que desea eliminar a ${alumno.nombre}?`) ){
                       this.accion='eliminar';
                       this.alumno=alumno;
                       this.guardaralumno();
                   }
               },
               listaralumnos(){
                   this.alumnos = JSON.parse( localStorage.getItem('alumnos') || "[]" )
                       .filter(alumno=>alumno.nombre.toLowerCase().indexOf(this.buscar.toLowerCase())>-1);
               }
           },
           created(){
               this.listaralumnos();
           }
       }).mount('#app');
   </script>
</body>
</html>
